body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    color: #929292;
    background-color: #F3F3F4;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 0;
    margin: 0 auto;
    background-color: #F4767B;
    border-radius: .5rem;
}
.form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 75%;
    margin: 6.25rem;
    padding: 2rem 6rem;
    background-color: #EDEDED;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .2);
}
.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.text-input {
    width: 100%;
    box-sizing: border-box;
    height: 3rem;
    margin: 0;
    padding: 0 0 0 1.5em;
    border: 2px solid rgba(0, 0, 0, .1);
}
.username::placeholder {
    color: #ACACAC;
    font-size: 1.25em;
}
.password::placeholder {
    color: #ACACAC;
    font-size: 1.25em;
}
button {
    background-color: #72D9D4;
    color: #ffffff;
    margin: 1.5em;
    padding: .8em 3em;
    border: 3px solid #72D9D4;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: lighter;
    transition: all .5s;
}
button:hover {
    background-color: #ffffff;
    color: #72D9D4;
}
.remember-me {
    align-self: flex-start;
}
#remember {
    width: 1.75em;
    height: 1.75em;
    margin: 0;
    vertical-align: middle;
}
.remember-me p {
    display: inline;
    font-size: .75em;
    color: #ACACAC;
    font-weight: 300;
}
@media screen and (max-width: 799px) {
    .form-body {
        width: 75%;
        padding: 1em;
    }
    .user-info {
        width: 100%;
    }

}
@media screen and (max-width: 375px) {
    .form-body {
        width: 90%;
        padding: .75em;
    }
    .user-info {
        width: 100%;
    }
    .username {
        height: 3em;
    }
    .password {
        height: 3em;
    }
    button {
        margin: 0 0 .75em 0;
        padding: .5em 2em;
    }

}